@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

.header {
    display: flex;
    justify-content: center;
}

.input-search {
    margin: 20px;
    border-style: none;
    font-size: 20px;
    background-color: #000000;
    color: #fff;
}

.input-search::placeholder {
    color: rgb(191, 255, 0);
    font-size: 20px;
}

.filter-field {
    margin: 20px;
    border-style: none;
    font-size: 20px;
    background-color: #000000;
    color: #fff;
}




