{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/card_item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/search_button.css' %}">
</head>
<body>

{% block content %}


{% endblock %}

</body>
</html>
