{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/card_item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/search_button.css' %}">
</head>
<body>
    <div class="header">
    <div class="search-box">
        <form method="GET" action="{% url 'filter' %}">
            <label>
                <input class="input-search" type="text" name="filter_keyword" placeholder="Поиск ... ">
            </label>
        </form>
    </div>
    </div>

{% block content %}{% endblock %}

</body>
</html>
