{% extends 'base.html' %}

{% block name %} Список {% endblock %}

{% block content %}

    <div class="header">
        <div class="search-box">
            <form method="GET" action="{% url 'rents' %}">
                <label>
                    <input class="input-search" value='{{ communal_services }}' type="text" name="communal_services" placeholder="Поиск услуг ЖКУ">
                </label>
            </form>
        </div>
    </div>

    <div class="grid-container">
        {% for rent_calculation in data %}
            <div class="container-item">
                <div class="wrapper">
                    <img src="{{ rent_calculation.url_photo }}" alt="">
                    <p> {{ rent_calculation.feature }} </p>
                </div>
                <div class="button-wrapper">
                    <a href="{% url 'rent_details' rent_calculation.id %}">
                        <button class="btn fill">
                            Посмотреть
                        </button>
                    </a>
                </div>
            </div>
        {% empty %}
            <p>Список пуст</p>
        {% endfor %}
    </div>

{% endblock %}
