{% extends 'base.html' %}
{% load static %}

{% block name %} Список {% endblock %}

{% block content %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/card_item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/search_button.css' %}">

    <div class="grid-container">
        {% for rent_calculation in data %}
            <div class="container-item">
                <div class="wrapper">
                    <img src="{{ rent_calculation.url_photo }}" alt="">
                    <p> {{ rent_calculation.feature }} </p>
                </div>
                <div class="button-wrapper">
                    <a href="{% url 'about_rent_calculation' rent_calculation.id %}">
                        <button class="btn fill" href="{% url 'about_rent_calculation' rent_calculation.id %}">
                            Посмотреть
                        </button>
                    </a>
                </div>
            </div>
        {% empty %}
            <p>Список пуст</p>
        {% endfor %}
    </div>
{% endblock %}
