{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Информация - {{ data.feature }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/card_item.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/search_button.css' %}">
</head>
<body>

<div class="container-item-2">
    <div class="wrapper">
        <img src="{{ data.url_photo }}" alt="" width="500">
        <h1> {{ data.feature }} </h1>
        <p>Единица измерения: {{ data.type }}</p>
        {% if data.describe %}
            <p>Описание: {{ data.describe }}</p>
        {% endif %}
    </div>
</div>

</body>
</html>
