{% extends 'home_page.html' %}

{% load static %}

{% block title %}
   Рассчёт
{% endblock %}


{% block content %}

        <div class="content-wrapper">

            <div class="cards-wrapper">

                <div class="top">

                    <h2>Рассчёт №{{ estimate.id }}</h2>

                    <a href="/">
                        Назад
                    </a>

                </div>

                <div class="bottom-container">

                    <div class="estimate-info-wrapper">

                        <span>Номер квартиры №{{ estimate.apartment }}</span>
                        <span>Дата создания №{{ estimate.date_created }}</span>

                    </div>

                    <h2>Показатели</h2>

                    <div class="indicators-container">

                        {% for indicator in indicators %}

                            <div class="card-wrapper">

                                <div class="preview">
                                    <img src="http://127.0.0.1:9000/images/{{ indicator.image }}">
                                </div>

                                <div class="card-content">

                                    <div class="content-top">

                                        <h3 class="title">{{ indicator.name }}</h3>

                                    </div>

                                    <div class="content-bottom">

                                         <a href="indicators/{{indicator.id}}/" class="details-link">
                                            <span>Подробнее</span>
                                        </a>

                                        <a href="indicators/{{ indicator.id }}/delete/" class="delete-link">
                                            <span>Удалить</span>
                                        </a>

                                    </div>

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>


{% endblock %}