{% extends 'base_page.html' %}

{% load static %}

{% block title %}
   Показатели
{% endblock %}


{% block content %}

        <div class="content-wrapper">

            <div class="cards-wrapper">

                <div class="top">

                    <h2>Товары</h2>

                    <div class="right-container">

                        {% if draft_estimate_id %}

                            <a href="/estimates/{{ draft_estimate_id }}">
                                Новый рассчёт
                            </a>

                        {% else  %}

                            <span href="/" class="disabled">
                                Новый рассчёт
                            </span>

                        {% endif %}

                        <form class="search-bar-wrapper" method="GET" action="/">

                            {% csrf_token %}

                            <input type="text" placeholder="Поиск" autocomplete="off" name="query" value="{{ query }}">

                            <button type="submit">
                                Поиск
                            </button>

                        </form>

                    </div>

                </div>

                <div class="bottom">

                    {% for indicator in indicators %}

                        <div class="card-wrapper">

                            <div class="preview">
                                <img src="http://127.0.0.1:9000/images/{{ indicator.image }}">
                            </div>

                            <div class="card-content">

                                <div class="content-top">

                                    <h3 class="title">{{ indicator.name }}</h3>

                                </div>

                                <div class="content-bottom">

                                     <a href="indicators/{{indicator.id}}/" class="details-link">
                                        <span>Подробнее</span>
                                    </a>

                                    <a href="indicators/{{ indicator.id }}/delete/" class="delete-link">
                                        <span>Удалить</span>
                                    </a>

                                </div>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>

        </div>


{% endblock %}